html {
  scroll-behavior: smooth;
}

header > nav {
  background-color: #fdefd3;
  border-bottom: 0.25rem solid #ed8606;
}

header>nav>.navbar-brand {
  width: 30%;
  max-width: 350px;
  min-width: 190px;
}

#logo-header {
  width: 25%;
}

#logo-title-header {
  width: 75%;
}

.navbar-nav > li {
  padding: 0 0.6rem;
  font-weight: 500;
  font-size: 0.9rem;
  color: #feb229;
}

.navbar-light .navbar-nav .nav-link {
  color: #444444;
}

.navbar-light .nav-item.active .nav-link, .navbar-light .nav-item:hover .nav-link {
  color: #ed8606;
}

.content-top, #carouselSlides {
  margin-top: 80px;
}

#news .list-group-item {
  background-color: transparent;
  font-weight: 500;
  font-size: 0.9rem;
}

#news {
  background-color: #fdefd3;
}

#news h2 {
  color: #ed8606;
}

#news .list-group {
  max-height: 60vh;
}

#map-frame {
  min-height: 350px;
}

#principalsWordsModal p {
  font-style: oblique;
}

.modal-title {
  color: #ed8606;
}

#goalsModal li {
  padding: 0.25rem;
}

.row-managers > div[class*='col-'] {
  display: flex;
  flex: 1 0 auto;
}

.row-results, .row-results h6{
  font-size: 0.75rem;
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th {
  background-color: #fbf3e4
}

#accordionActivity .btn-link {
  color: #000000;
  font-weight: 500;
}

#nav-infrastructure .nav-link {
  color: #000000;
  font-weight: 500;
}

#nav-infrastructure .nav-link:hover {
  color: #ffffff;
  background-color: #c16e07;
  border-radius: 0.25rem;
}

.gallery img {
  max-height: 150px;
}

.color-primary-dark {
  color: #ed8606;
}

.patron img {
  max-height: 300px;
}

.heads img {
  max-height: 175px;
}

.manager img {
  max-height: 200px;
}

.manager-card:hover {
  background-color: #fdefd3;
  cursor: pointer;
}

#scroll-top-btn {
  border: 0px;
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  z-index: 99;
  background-color: #fdefd355;
  border-radius: 0.5rem;
  display: none;
}

#footer-top {
  border-top: 0.25rem solid #ed8606;
  background-color: #fdefd3;
}

footer .nav-link {
  color: #000;
  font-weight: 500;
  font-size: 0.9rem;
}

footer .nav-link:hover {
  background-color: #ffe2ad;
  border-radius: 0.5rem;
}

#footer-bottom {
  background-color: #c16e07;
  color: #ffffff;
}

/*************************************************************/

@media (min-width: 576px) {
  header>.navbar {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 768px) {
  header>.navbar {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .navbar-nav>li:first-of-type {
    border-left: 2px solid #ffe2ad;
  }
  .navbar-nav>li {
    border-right: 2px solid #ffe2ad;
  }
  #news .list-group {
    max-height: 100vh;
  }
  .content-top {
    margin-top: 125px;
  }
}

@media (min-width: 992px) {
  #news .list-group {
    max-height: 75vh;
  }
}

@media (min-width: 1200px) {
  #news .list-group {
    max-height: 60vh;
  }
}

/**************************************/